body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:768px;
}
#u4693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:376px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
}
#u4695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:668px;
}
#u4697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:410px;
}
#u4698 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:160px;
  width:1016px;
  height:410px;
}
#u4699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:197px;
  width:1012px;
  visibility:hidden;
  word-wrap:break-word;
}
